*{
    margin: 0;
    padding: 0;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
body{
    background-color: #eee;
    font-family: 'Raleway';
    
}

/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    display: none;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #333; 
    border-radius: 10px;
    display: none;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #333; 
    display: block;
  }


.side-menu{
    position: fixed;
    /* background: #b2b2b2; */
    background: rgb(227, 227, 227);
    width: 300px;
    height: 100%;
    box-sizing: border-box;
    padding: 0px 0px;
    transition: width .2s ease-in;
}

.side-menu.inactive{
    width: 80px;
}

.side-menu .top-section{
   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    gap: 10%;

}

.logo-img{
    border-radius: 50%;
}


.side-menu .top-section .toggle-menu-btn{
    color: #666;
    font-size: 20px;
    cursor: pointer;
}

.side-menu.inactive .top-section .toggle-menu-btn{
    /* right: -50px; */
    align-self: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}



.side-menu .main-menu .menu-item{
    color: #333;
    color:rgb(117, 117, 117);
    text-decoration: none;
    font-size: 13px;
    display: block;
    font-weight: 400;
    cursor: pointer;
    padding: 4px 10px;
}

.side-menu .main-menu .menu-item.active{
    background: rgb(216, 216, 216);
    color: rgb(74, 74, 74);
    font-weight: 600;
}


.side-menu .main-menu{
    margin: 30% 0px;
    position: relative;
    /* max-height: 250px; */
    overflow-y: scroll;
    overflow-x: hidden;
}
/* not required any more */
.side-menu.inactive .main-menu{
   
}

.side-menu .main-menu .menu-item .menu-icon{
    display: inline-block;
    width: 38px;
    height: 38px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
}

.side-menu .main-menu .menu-item span{
    position: absolute;
    display: inline-block;
    line-height: 40px;
    opacity: 1;
    transition: opacity .2s ease-in;
}

.side-menu.inactive .main-menu .menu-item span{
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

.side-menu .main-menu .sub-menu{
    color: #333;
    color:rgb(117, 117, 117);
    margin-left: 20px;
    border-left: 1px solid #666;
    box-sizing: border-box;
    padding-left: 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-in;
}



.side-menu .main-menu .sub-menu.active{
    max-height: 200px;
    /* background: rgb(212, 212, 212); */
    /* color: rgb(74, 74, 74); */
}

.side-menu .main-menu .sub-menu a{
    display: block;
    margin: 5px 0;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: #333;
    box-sizing: border-box;
    padding: 5px;
}


.side-menu .main-menu .sub-menu a.active{
    /* background: #222; */
    color: rgb(74, 74, 74);
    font-weight: 600;;
    display: block;


}

.side-menu-footer{
    width: 100%;
    background: #333;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
}

.side-menu-footer .avatar{
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
}
.side-menu-footer .avatar img{
    max-width: 100%;
}

.side-menu-footer .user-info{
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    position: absolute;
    opacity: 1;
    transition: opacity .2s ease-in;
}

.side-menu.inactive .side-menu-footer .user-info{
    opacity: 1;
    width: 0;
    height: 0;
    overflow: hidden;
}


.side-menu-footer .user-info h5{
    font-size: 15px;
}


.side-menu-footer .user-info p{
    font-size: 14px;
}


.container{
    margin-left: 300px;
    transition: margin-left .2s ease-in;
    padding: 50px;
    box-sizing: border-box;
}

.container.inactive{
    margin-left: 80px;
}

.m-heading{
    color:rgb(78, 78, 78);
}

.dashboard{
    display: flex;
    flex-direction: column;
    gap:5%;
}

.grid-container{
    display: grid;
    grid-template-columns: 25% 25%  25%  25%;
    /* height: 250px; */
    margin: auto;
    margin-top: 2%;
    font-family: 'Lato';
}

 .tab > .tab-head{
    background-color: rgb(227, 227, 227);
    color:rgb(71, 71, 71);
    font-size: 11px;
    padding: 10px 10px;
    font-weight: 600;
 }
 .tab > .tab-col{
    color:rgb(62, 62, 62);
    font-size: 15px;
    padding: 15px 15px;
    font-weight: 600;

 }

 .more-items{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity:0.9;
    margin-bottom:10%;
 }

 .all-items{
    padding: 10px 20px;
    font-size: 12px;
    background: linear-gradient(90.4deg, rgba(123, 31, 122, 0.9) 0.6%, rgb(96, 15, 167) 90%);
    color: white;
    border-radius: 25px;
    margin: 10px auto;
 }

 .round{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 0.01rem solid gray;
    margin-left: 20%;
    margin-top: 10%;
 }